%form
  %input{type: 'text', placeholder: 'Title', style: 'width: 100%;', 'ng-model' => 'noteTitle'}
  <ui-codemirror ng-model='noteContent' ui-codemirror-opts="editorOptions"></ui-codemirror>
  %button.btn.btn-primary{'ng-click' => 'saveNote()'}
    Save
  %button.btn.btn-warning
    Cancel
