%form
  %input{type: 'hidden', 'ng-model' => 'noteId', "ng-value" => "noteId"}
  %input{type: 'text', style: 'width: 100%;', 'ng-model' => 'noteTitle', "ng-value" => "noteTitle"}
  %textarea{style: "width: 100%", 'ng-model' => 'noteContent'}
    {{ noteContent  }}
  %button.btn.btn-primary{'ng-click' => 'saveNote()'}
    Save
  %button.btn.btn-warning{'ng-click' => 'cancelEdit()'}
    Cancel
