.container
  .login-wraper
    = form_tag(create_user_path, class: "form login-form") do
      %legend
        Register
      .body
        %label
          Email
        %input{name: 'user[email]', type: 'text'}
  
        %label
          Password
        %input{name: 'user[password]', type: 'password'}
  
        %label
          Password Confirmation
        %input{name: 'user[password_confirmation]', type: 'password'}
  
      .footer
        %button.btn.btn-success{type: 'submit'}
          Register
