.container
  = form_tag(register_path, class: "form-signin", role: "form") do
    %h2.form-signin-heading
      Register with zNote
    %input.form-control{type: "email", placeholder: "Email address", name: "user[email]"}
    %input.form-control{type: "password", placeholder: "Password", name: "user[password]"}
    %input.form-control{type: "password", placeholder: "Password", name: "user[password_confirmation]"}
    %button.btn.btn-lg.btn-primary.btn-block{type: 'submit'}
      Register
