.container-fluid
  .col-xs-2{'ng-controller' => 'searchCtrl'}
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          .navbar-brand
            ZNote
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: '#/note/new'}
                New
    .container-fluid
      %input.search{'ng-model' => 'searchText'}
    .container-fluid#note-content
      %div{'ng-repeat' => 'result in results'}
        %a{href: '#/note/view/{{result.id}}'}
          {{ result.title  }}
  .col-xs-10
    %nav.navbar.navbar-default
      .container-fluid
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-left
            %li
              %a
                Edit
            %li
              %a
                Delete
          %ul.nav.navbar-nav.navbar-right
            %li
              %a
                My Account
    .container-fluid#note-content
      <div ng-view></div>
