.container-fluid
  .col-xs-2
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          .navbar-brand
            ZNote
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a
                New
    .container-fluid
      %input.search
    .container-fluid#note-content
  .col-xs-10
    %nav.navbar.navbar-default
      .container-fluid
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-left
            %li
              %a
                Edit
            %li
              %a
                Delete
          %ul.nav.navbar-nav.navbar-right
            %li
              %a
                My Account
    .container-fluid#note-content
      <div ng-view></div>
