.container-fluid
  .col-xs-2{'ng-controller' => 'searchCtrl'}
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          .navbar-brand
            ZNote
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a
                New
    .container-fluid
      %input.search{placeholder: "Search here", 'ng-model' => 'searchBox'}
    .container-fluid#note-content
      {{ searchBox }}
  .col-xs-10{'ng-controller' => 'noteCtrl'}
    %nav.navbar.navbar-default
      .container-fluid
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-left
            %li
              %a
                Edit
            %li
              %a
                Delete
          %ul.nav.navbar-nav.navbar-right
            %li
              %a
                My Account
    .container-fluid#note-content
      Note content
